* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #282828;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 2rem;
  min-height: 100vh;
}

li {
  list-style-type: none;
}

/* common */
.visually-hidden {
  border-width: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.headline-primary {
  text-align: center;
}

.alert,
.city,
.eventnumber-amount {
  margin-top: .5rem;
}

/* Alert */
.alert {
  height: 40px;
}

/* .number-container,
.eventlist-container {
  margin-top: 2rem;
} */
/* CitySearch */
.city-search-container {
  margin-top: 2rem;
  position: relative;
  text-align: center;
}

.city {
  border: 1px solid #282828;
  border-radius: .5rem;
  padding: 8px 10px;
  width: 260px;
}

.suggestions {
  box-shadow: rgba(40, 40, 40, 0.3) 0px 19px 38px, rgba(40, 40, 40, 0.22) 0px 15px 12px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 60px;
  width: 260px;
  z-index: 2;
}

.suggestions > li {
  background-color: #e5e5e5;
  cursor: default;
  padding: 8px 6px 8px 10px;
  text-align: left;
}

.suggestions > li:hover {
  background-color: #737373;
  color: #fff;
}

/* NumberOfEvents */
.number-container {
  text-align: center;
}

.eventnumber-amount {
  border: 1px solid #282828;
  border-radius: .5rem;
  padding: 8px 10px;
  width: 70px;
}

/* EventList */
.eventlist-container li {
  border: 1px solid #282828;
  padding: 1rem;
  text-align: left;
}

.eventlist-container li:not(:first-of-type) {
  margin-top: 1rem;
}

.event-info-short,
.event-info-details {
  margin-top: 1rem;
}

.event-description {
  margin-top: .5rem;
}

.event-google-link {
  color: inherit;
  display: inline-block;
  font-weight: 700;
  margin-top: .5rem;
}

.event-google-link:hover {
  color: #007bcd;
}

.toggle-details {
  border: 1px solid #282828;
  border-radius: .5rem;
  cursor: pointer;
  margin-top: 1.25rem;
  padding: 8px 10px;
}

.toggle-details:hover {
  background-color: #32acfd;
  border: 1px solid #32acfd;
  color: #fff;
}

/* old - TODO: delete */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}