.welcome-screen-container {
  align-items: center;
  background-color: var(--darkblue);
  bottom: 0;
  color: var(--white);
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 2rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.welcome-text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 4rem;
  max-width: 400px;
}

.sign-in-btn {
  align-items: center;
  background-color: var(--white);
  border: 2px solid var(--darkblue);
  border-radius: .5rem;
  color: var(--darkblue);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  margin-top: 1rem;
  padding: .75rem;
}

.sign-in-btn:hover,
.sign-in-btn:active {
  background-color: var(--welcome-btn-hover);
  color: var(--white);
}

.sign-in-btn:active {
  box-shadow: var(--box-shadow-inset);
}

.google-icon {
  height: auto;
  margin-right: .5rem;
  width: 2rem;
}

.privacy-policy {
  color: var(--white);
  display: inline-block;
  margin-top: 3rem;
  font-weight: 700;
}

.privacy-policy:hover,
.privacy-policy:active {
  color: var(--orange);
}